
// .title{
//     font-size:60px
// }

// h2{
//     padding-left: 10px !important;
// }

.card-header{
    text-align: left;
    background-color: rgb(52, 59, 64) !important;
    color:white !important;
}

@import "~bootstrap/scss/bootstrap";