// .title{
//     font-size:60px
// }

// h2{
//     padding-left: 10px !important;
// }

.card-header {
  text-align: left;
  background-color: rgb(52, 59, 64) !important;
  color: white !important;
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0) !important;
}

.main-text {
  margin: auto;
  max-width: 65%;
}

.left {
  text-align: left;
}

.robot {
  width: 75%;
}

.footer{
 position: absolute;
 bottom: 0;
 width: 100%;
}

@import "~bootstrap/scss/bootstrap";
